<nav>
    <section>
        <h2>Waytch & Co</h2>
        <ul>
            <li><a href="#content">Skip to content</a></li>
            <li><a href="#main-content" aria-label="Home, current page">Home</a></li>
            <li>
                <a href="/products">Products</a>

                <ul>
                    <li><a href="/products/rock">Watches</a></li>
                    <li><a href="/products/paper">Wristbands</a></li>
                    <li><a href="/products/scissors">Smartwatches</a></li>
                </ul>

            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </section>
</nav>