<nav>

    <progress value="0.25" max="1">25%</progress>

    <h1>Finish your order</h1>

    <ol>
        <li>
            <a href="/cart">Cart</a>
        </li>
        <li>
            <a href="#main-content" aria-label="Address, current step">Address</a>
        </li>
        <li>
            Payment
        </li>
        <li>
            Confirm
        </li>
    </ol>

</nav>


<form action="/" method="post">

    <label for="field-email">Email</label>
    <input type="email" id="field-email" name="field-email" autocomplete="email" required autofocus>

    <label for="field-password">Password</label>
    <input type="password" id="field-password" name="field-password" required>

    <span>
        <input type="checkbox" id="field-stay-logged-in" name="field-stay-logged-in" value="stay-logged-in">
        <label for="field-stay-logged-in">Stay logged in</label>
    </span>

    <a href="/">Forgot password</a>

    <button type="submit">Login</button>

</form>