body {
    background-image: radial-gradient(10em 10em, #000 0em, #000 2em, #FFF 2em, #FFF 10em);
    background-size: 10em 10em;
    padding: 10em;
}

button {
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    background-color: rgba(106, 28, 46, 0.3);
    top: -1rem;
    left: -1rem;
    bottom: -1rem;
    right: -1rem;
}