* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: 0.2s ease-in-out filter;
}

[aria-label="blurred"] {
    filter: blur(5px);
}

h1 {
    font-family: Ampersand, 'Cardo', serif;
    font-size: 2.5rem;
    grid-column: 1 / -1;
    margin: 2.5rem 0 0 0;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: Ampersand, 'Cardo', serif;
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-family: Ampersand, 'Cardo', serif;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}


p {
    color: #8D8D8D;
    letter-spacing: 0;
    line-height: 1.59;
}

a {
    color: var(--brandPrimary);
    text-decoration: none;
}

a:hover {
    color: var(--brandPrimaryDarken);
}

a:focus {

}

a:visited {

}