section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--gutterWidth);
    max-width: 64rem;
    margin: auto;
    padding: 0 2rem;
}

@media all and (max-width: 49.125rem /* 786px */) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 33rem ) {
    section {
        grid-template-columns: 1fr;
    }
}