nav {
    display: flex;
    border-bottom: 1px solid var(--borderColor);
}

nav h2 {
    grid-column: span 6;
    align-self: center;
}

nav ul {
    grid-column: span 6;
    margin: 0 0 0 auto;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

nav section > ul:focus-within {
    box-shadow: 0 0 0 100vw rgba(0,0,0,0.3);
    z-index: 900;
}

ul li {
    position: relative;
}

ul li a {
    margin-left: 2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: ease-in-out 0.1s all;
}

ul li a:hover. ul li a:focus {
    border-color: var(--brandPrimary);
}

nav section > ul > li:last-child a {
    background-color: var(--brandPrimary);
    color: #ffffff;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

ul li:hover ul, li:focus-within ul {
    display: flex;
}

ul li ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: var(--focusShadow);
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid var(--borderColor);
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);

    border-top: none;
    top: 3.5rem;
    left: 0.5rem;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
}

ul li ul li a {
    height: auto;
    margin-left: 0;
    padding: 0.5rem 0;
}