article {
    grid-column: span 4;
    border-radius: var(--borderRadius);
    border: 1px solid var(--borderColor);
    padding: 1.5rem 2.5rem;
}

article p {
    height: 5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

article:focus-within {
    border-color: var(--brandPrimary);
}
