:root {
    --brandPrimary: #BF8E22;
    --brandPrimaryLight: rgba(165, 120, 33, 0.4);
    --brandPrimaryDarken: #a57821;
    --textPrimary: #000000;
    --textSecondary: #8D8D8D;
    --borderColor: #F0F0F0;
    --borderRadius: 3px;
    --focusShadow: 0 0.1875rem 0.25rem 0 rgba(0,0,0,0.03);
    --gutterWidth: 2rem; /* 32px */
}